@import "tailwindcss";

@layer components {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @apply bg-gray-600 hover:bg-gray-500;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 8px;
    @apply bg-gray-700;
  }
}

html {
  scroll-behavior: smooth;
}
